conf

hostname "SwitchName"

alias COMMENT "All three are here so that old and new switches will all get the correct timeout."
console idle-timeout 600
console inactivity-timer 5
console idle-timeout serial-usb 600

timesync sntp
sntp unicast
sntp server priority 1 192.168.0.211
time daylight-time-rule continental-us-and-canada
time timezone -300

no cdp run
no telnet-server
no web-management
no dhcp config-file-update
no dhcp image-file-update

ip authorized-managers 192.168.0.1 255.255.255.255 access manager
ip authorized-managers 192.168.0.2 255.255.255.255 access manager
ip authorized-managers 192.168.0.51 255.255.255.255 access manager
ip authorized-managers 192.168.0.160 255.255.255.224 access manager
ip authorized-managers 192.168.15.180 255.240.0.0 access manager

fastboot
ip ssh
ip ssh filetransfer

logging 192.168.0.4
no snmp-server community public
snmp-server community "read" operator
snmp-server community "write" manager unrestricted
snmp-server contact "Network Operations"
snmp-server host 192.168.0.4 community "ungtrap" trap-level not-info
snmp-server enable traps startup-config-change

vlan 1
  no ip address
  tag 10

vlan 200
  name "Mgmt"
  ip address 192.168.0.30/24
  tag 10

vlan 1600
  name "VOIP"
  no ip address
  tag 10

end
conf

int 10
  name "Uplink to OtherSwitch"

end
conf

alias COMMENT "Don't forget to loop-protect the ports themselves!"
loop-protect trap loop-detected
loop-protect disable-timer 5
ip default-gateway 192.168.0.1

dhcp-snooping
dhcp-snooping authorized-server 192.168.0.12
dhcp-snooping authorized-server 192.168.0.15
dhcp-snooping authorized-server 192.168.0.17
dhcp-snooping authorized-server 192.168.0.18
dhcp-snooping authorized-server 192.168.0.19
dhcp-snooping trust 10
dhcp-snooping vlan 1

oobm
  disable
  no ip address

end
conf

wr me
password all
